@use "./app/styles/colors.scss" as vars;

html,
body {
  margin: 0;
}

html {
  background-color: rgba(212, 240, 252, 0.75);
}

body {
  min-height: 100vh;
  background-color: rgba(212, 240, 252, 0.3);
}

#movies-app {
  max-width: 1080px;
  width: 95%;
  background-color: vars.$white;
  margin: 10px auto;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);
  border-radius: 6px;
  overflow: hidden;
}

// .accordion {
//   [header] {
//     cursor: pointer;
//   }
// }

// [component-description] {
//   font: bold 1em/22px sans-serif;
//   text-align: center;
//   margin: 0 0 15px 0;
//   color: vars.$darkBlue;
// }

.emphasize {
  font-style: italic;
}

@media screen and (max-width: 900px) {
  #movies-app {
    margin: 10px 15px 20px 15px;
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 600px) {
  body {
    min-height: unset;
  }
}
